.details-section {
  display: flex;
  flex-direction: column;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  margin: auto;
  padding: 16px;
  width: 600px;
  justify-content: center;
  align-items: center;
}
.trophy {
  padding-top: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 500px;
}
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-container {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #cf60c8;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
}
.reset {
  margin-right: 2px;
}
